/* frontend/src/components/MatchedImages.css */
.matched-images-container {
  display: flex;
  flex-wrap: wrap;
}

.matched-image {
  margin: 10px;
  text-align: center;
}

.download-button {
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
