@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=IBM+Plex+Sans+Hebrew:wght@400;500;600;700&display=swap");
.bodyPackages {
  height: auto;
}

.sectionContainer {
  padding-top: 3em;
  position: relative;
}
.packagesIntro {
  padding-bottom: 4em;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardPackage {
  width: 327px;
  height: 606px;
  margin-left: 3.3em;
  background-color: #fdfcfc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.titleCard {
  position: absolute;
  top: -1em;
  left: 1em;
  width: 120px;
  height: 34px;
  background-color: rgba(25, 234, 32, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.centerText {
  text-align: center;
  p {
    text-align: center;
    margin-bottom: 10px;
  }
}
.item {
  text-align: center;

  span {
    font-family: IBM Plex Sans Hebrew;
    font-weight: bold;
  }
  .icon {
    width: 15px;
    height: 20px;
    margin-right: 4px;
  }
}
.packagesIntro {
  margin-left: 26.9em;
}
.btn {
  background-color: #ff1f35;
  color: #ffffff;
  font-size: 1rem;
  width: 175px;
  height: 57px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
}
