.bodyAbout {
  min-height: 100vh;
  display: flex;
  padding-left: 21.8em;
}

.textBox {
  h1,
  p {
    max-width: 90%;
    text-align: left;
    text-wrap: balance;
  }
}
.flexBoxOne {
  display: flex;
  align-items: center;
}

.flexBoxTwo {
  display: flex;
  align-items: center;
}
.flexItem {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #ffffff;
  margin: 15px 15px 10px 0px;
  padding: 4px;
  width: 270px;
  height: 105px;
  border-radius: 10px;
}
.img {
  width: 40px;
  margin-right: 5px;
}
.checkedList {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-top: 10px;
  img {
    padding-right: 5px;
  }
}
.checkedList div {
  display: flex;
  margin-left: 10px;
}
.btn {
  background-color: #ff1f35;
  color: #ffffff;
  font-size: 1rem;
  width: 175px;
  height: 57px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
}
