.dashboard {
  z-index: 100;
  width: 251px;
  margin-top: 7px;
  height: 90vh;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 23px;
  transition: all 0.7s ease-in-out;
  position: fixed; /* שומר את התפריט תמיד באותו מקום */
  left: 0;
  /* מיקום מאונך */
  overflow: hidden;
}

.dashboard.open {
  transform: translateX(0);
}

.dashboard.closed {
  transform: translateX(-200px); /* במקום לסגור עד הסוף */
}

.menuButton.rotate img {
  transform: rotate(180deg);
}

.menuButton {
  position: fixed; /* קובע את הכפתור למיקום קבוע בפינה הימנית העליונה */
  top: 10px;
  right: 10px; /* מעביר את הכפתור לצד ימין */
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 101; /* שומר שהכפתור תמיד מעל */
}

.menuIcon {
  width: 30px;
  height: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.2s;
}

.link:hover {
  color: #0056b3;
}

.icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.bottomLink {
  margin-top: auto;
}
