/* Wrapper for overall layout */
.wrapper {
  display: flex;
  height: 100vh;
  overflow: scroll;
}

/* Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  width: 400px;
  height: 100vh;
  padding: 30px;
  background-color: #f3f3f3;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  text-align: center;
}
.editForm {
  display: flex;
  flex-direction: column;
  label {
    padding: 5px;
  }
}

.albumDetailsTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.details {
  font-size: 1rem;
  color: #555;
}

.button,
.backButton {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.button {
  background-color: #007bff;
}

.button:hover {
  background-color: #0056b3;
}

.backButton {
  background-color: #28a745;
}

.backButton:hover {
  background-color: #218838;
}

/* Album container */
.albumContainer {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

/* Title */
.title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

/* Photo Gallery */
.photoGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.photoContainer {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 150px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* No Photos Message */
.noPhotos {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 20px;
}
