h4 {
  font-size: 36px;
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
}
.wrapper {
  overflow: hidden;
  background-color: #ffff;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10em;
}
.progressContainer {
  position: relative;
  margin: 50px auto;
  padding: 1px 0 0;
  width: 500px;
  height: 2px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 2px #666;
}

.progressContainer ul li {
  position: absolute;
  top: -16px;
  left: 0;
  display: inline-flex;
  height: 35px;
  width: 35px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s, color 0.5s;
}

/* מצב ברירת מחדל */
.progressContainer ul li.completed {
  background: #ff1f35; /* אדום */
  color: #fff;
}

/* הגדר מיקום כל עיגול */
.progressContainer ul li:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
}
.progressContainer ul li:nth-child(3) {
  left: 100%;
  transform: translateX(-100%);
}

.progressBar {
  height: 2px;
  width: 0;
  background: #ff1f35;
  transition: width 1s ease-in-out;
}

.button {
  margin: 20px auto;
  padding: 10px;
  width: 150px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #ff1f35;
  text-align: center;
  border: 1px solid #b22330;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resetButton {
  background: #ff4c4c;
  border-color: #9e2626;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.8;
}
