.header {
  width: 100vw;
  height: 80px;
  position: relative; /* מאפשר child עם position:absolute או fixed */
  box-shadow: 0px 0px 10px #f7ded0;
  transition: background-color 0.8s, color 0.3s ease-out;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center; /* חלוקת המקום בין hamburger ל-link_list */
  overflow: hidden; /* מונע גלישה של תוכן */
  padding-right: 67rem;
}

.container_nav {
  display: flex;
}
.link_list {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  list-style: none;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

ul.link_list li {
  padding-left: 1rem;
}

.link {
  position: relative;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
  color: #000; /* צבע ברירת מחדל */
}

.link:hover {
  color: #ff1f35; /* צבע בעת hover */
}

.moveRight {
  position: fixed; /* מיקום קבוע */
  top: 10px; /* מרחק מהחלק העליון */
  right: 10px; /* מרחק מהצד הימני */
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  background: #f5f5f5;
  padding: 0 1rem;
  border-radius: 10px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* מעל שאר האלמנטים */
}

.moveRight li {
  padding: 0.5rem;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1.8px;
  background-color: #543310;
  box-shadow: 0px 0px 7px #f7eebf;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}
.link:hover::after {
  width: 100%;
  left: 0;
}
.searchBar {
  position: relative;
  left: 10px;
}
.searchInput {
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
  padding-left: 32px;
  width: 17%;
  height: 35px;
  transition: width 0.5s ease;
}
.searchInput::placeholder {
  position: absolute;
  bottom: 0.67em;
  opacity: 0.8;
  left: 32px;
  font-size: 13px;
  font-weight: bold;
}

.searchIcon {
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: turquoise;
  opacity: 0.5;
  transition: left 0.5s ease;
}
.searchIcon:hover {
  opacity: 1;
}

.expanded {
  width: 100%;
}

.searchIconMoved {
  transition: left 0.5s ease;
  left: 83%;
}

.moon_sun_icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 11px;
  margin-right: 17px;
  z-index: 2000;
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1));
}
.hamburger {
  display: none;
}

@media screen and (max-width: 1255px) {
  .logo {
    left: 90px;
  }
  .link_list {
    display: none;
    flex-direction: column;
    top: 80px;
    transition: transform 2s ease;
  }

  .link_list.open {
    box-shadow: 0px 5px 6px 0px #ffd3b9;
    display: flex;
    z-index: 2000;
    width: 100vw;
    position: absolute;
    left: 0;
  }

  .moveRight {
    display: none;
  }

  .moveRight.open {
    display: flex;
    margin-bottom: 7px;
  }
  .hamburger {
    display: flex;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 2000;
    color: #9f7aea;
    filter: drop-shadow(0px 1px 10px #9f7aea);
    background: none;
  }
}
